.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    align-content: center;
}
.cart-row {
    display: grid;
    width: 700px;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 10px;
    align-items: flex-start;
    border-bottom: 1px #004d8e dashed;
}

.cart-delete-button {
    padding: 0.5rem;
    box-sizing: border-box;
    color: white;
    background-color: #004d8e;
}
.cart-row-delete {
    cursor: pointer;
}

.pay-button {
    padding: 1rem;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    background-color: #004d8e;
    margin-top: 10px;
    align-self: center;
}
.cart-row-item {
    padding: 5px;
}

@media screen and (max-width: 700px) {
    .cart-row {
        display: grid;
        width: 100%;
        flex-wrap:wrap;
        padding: 10px;
        align-items: flex-start;
    }
}

