.product-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.product-detail-image {
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
}

.product-detail-description {
    padding: 10px;
}
.product-detail-category {
    padding: 10px;
}
.product-detail-title {
    padding: 10px;
    font-size: 20px;
}

.product-detail-button {
    padding: 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #004d8e;
    margin-top: 10px;
}

.product-detail-button:active {
    background-color: white;
    color: #004d8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.product-detail-button:hover {
    cursor: pointer;
}



@media screen and (min-width: 800px)  {
    .product-detail-container  {
        flex-direction: row;
    }
    .product-detail-image {
        width: 400px;
        height: 400px;
        text-align: center;
        padding: 10px;
    }
}