.item-container {
    padding: 10px;
}

.item-container:hover {
    cursor: pointer;
}
.item-image {
    width: 200px;
    height: 200px;
}
.add-to-cart-button {
    padding: 1rem;
    box-sizing: border-box;
    color: white;
    background-color: #004d8e;
    margin-bottom: 20px;
}
.add-to-cart-button:hover {
    cursor: pointer;
}

.add-to-cart-button:active {
    background-color: white;
    color: #004d8e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.item-attribute {
    padding: 0.5rem;
}

