.search-bar-container {
    display: flex;
    align-items: center;

}

.search-bar-button {
    padding: 0.75rem 2rem;
    color: white;
    background-color: #004d8e;
    box-sizing: border-box;
    border: white 1px solid;
    margin: 5px;
}
.search-bar-button:hover {
    cursor: pointer;
}

.search-bar-input {
    padding: 1rem 2rem;
    height: 30px;
    box-sizing: border-box;
    margin-right: 10px;
}


@media screen and (max-width: 500px) {
    .search-bar-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .search-bar-button {
        width: 100%;
        margin: 0px;
        margin-top: 5px;

    }
    .search-bar-input {
        width: 100%;
        margin: 0px;
    }
}

