.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.App-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'logo search cart';
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: black;
  padding: 1rem;
  color: #004d8e;
  background-color:  white;
  font-family: Roboto,sans-serif;
  top: 0;
}

.main {
  flex: 1;
  background-color: white;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  justify-items: center;
}

.footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  color: white;
  background-color: #004d8e;
  position: fixed;
  width: 100vw;
  bottom: 0;
}

.main-container {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.spinner {
  height: 100vh;
  width: 100vh;
  top: 50%;
  left: 50%;
  position: absolute;
}

.header-logo {
  align-self: flex-start;
  text-align: center;
  padding: 0 10px;
  grid-area: logo;
}
.header-search {
  grid-area: search;
}
.cart-container {
  text-align: center;
  grid-area: cart;
}
.product-detail-page {
  flex:1;
  max-width: 1000px;
  margin: 20px auto;
}

.cart-page {
  flex:1;
}

.main-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .main-container {
    grid-template-columns: 1fr;
    flex-wrap: wrap;
  }
  .App-header {
    grid-template-columns: 1fr;
    grid-template-areas:
      'logo'
      'cart'
      'search';
  }
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .main-container {
    grid-template-columns: 1fr;
    flex-wrap: wrap;
  }
  .App-header {
    grid-template-columns: 1fr;
    grid-template-areas: 'logo'
                          'cart'
                          'search'
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
div, img, button {
  animation: fadeIn 0.5s ease-in-out;
}
button {
  border-radius: 20px;
}
a, u {
  text-decoration: none;
  color:inherit;
}
